header {
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 36px;
    font-family: 'Poller One', cursive;
    text-align: center;
    padding: 10px;
}

aside {
    padding: 10px;
    float: left;
}

#city-search {
    padding: 10px;
    background-color: whitesmoke;
    height: 500px;
}

p {
    font-weight: bold;
}

section {
    padding: 10px;
    border: whitesmoke;
    float: left;
}

h3 {
    padding: 15px;
}

#weather {
    border: 2px solid whitesmoke;
    width: 950px;
    height: 295px;
}

#forecast img {
    padding: 5px 10px;
}